html {
    font-size: 16px;
}

body {
    font-family: 'Signika', sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
}

body .page {
    height: 100%;
}

p {
    font-weight: 400;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}

.icon {
    font-feature-settings: "dlig" 1;
    margin-bottom: 0;
}

#login {

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    padding: 4rem 0.75rem;

    .intro {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .logo {
        height: 48px;
        margin-bottom: 2rem;
    }

    .buttons {
        a {
            display: block;
            margin-top: 0.5rem;
            width: 100%;
            padding: 0.75rem 1.5rem;
            background-color: #f3f3f3;
            text-align: center;
            border-radius: 10px;
            font-size: 0.8rem;
            transition-duration: 250ms;

            &:hover {
                background: darken(#f3f3f3, 5%);
            }

            &.google {
                background-image: url('google.svg');
                background-position: 12px center;
                background-size: 24px;
                background-repeat: no-repeat;
            }

            &.email {
                color: #fff;
                background-color: #0051ff;

                &:hover {
                    background: darken(#0051ff, 5%);
                }
            }
        }
    }
}

#home {
    #map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .main-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        background: #fff;
        border-radius: 15px 15px 0 0;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    }

    .tran-button {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        position: absolute;
        bottom: 28px;
        right: 16px;
        background: #0051ff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        transition-duration: 100ms;
    }

    .drawer {
        position: absolute;
        bottom: 0;
        z-index: 3;
        background: #fff;
        border-radius: 15px 15px 0 0;
        height: auto;
        width: 100%;
        padding: 3rem 1.5rem;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
        max-height: 100%;
        overflow-y: auto;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            width: 60px;
            height: 6px;
            margin-top: 1rem;
            border-radius: 3px;
            background: #ddd;
            transform: translateX(-50%);
        }

        .title {
            margin-bottom: 2rem;

            .info {
                margin-top: 0.5rem;
                display: flex;
                align-items: center;

                .tag {
                    margin-right: 0.75rem;
                }

                .delay {
                    font-weight: 300;
                }
            }
        }

        h1 {
            font-weight: 700;
            line-height: 1;
            font-size: 2rem;
        }

        .section {
            opacity: 0.75;
            font-weight: 300;
            margin: 1rem 0;
        }
    }

    .tran-drawer {

    }

    .tag {
        height: 24px;
        border-radius: 5px;
        background: #000;
        color: #fff;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        margin-right: 0.75rem;

        &.bus {
            background: #0051ff;
        }

        &.tram {
            background: #ff0000;
        }

        &.train {
            background: #00d96d;
        }

        &.trolley {
            background: #ff8400;
        }
    }

    .links {
        display: flex;
        flex-direction: column;

        .link {
            display: flex;
            font-size: 1.25rem;
            align-items: center;
            padding: 0.25rem 0;

            &:first-child {
                padding-top: 0;
            }

            .destination {
                flex-grow: 1;
            }

            .stand {
                height: 24px;
                border-radius: 5px;
                background: #ddd;
                font-size: 0.9rem;
                display: flex;
                align-items: center;
                padding: 0 0.5rem;
                margin-right: 0.75rem;
            }
        }
    }

    .other-links {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.5rem;
        justify-content: center;

        .tag {
            margin: 0.25rem;
        }
    }

    .stops {
        display: flex;
        flex-direction: column;

        .stop {
            display: flex;
            font-size: 1.25rem;
            align-items: center;
            padding: 0.25rem 0;

            &:first-child {
                padding-top: 0;
            }

            .name {
                flex-grow: 1;
            }
        }
    }

    .tickets {
        .ticket {
            background: #f4f4f4;
            border-radius: 15px;
            padding: 0.75rem 1.5rem;
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            .name {
                flex-grow: 1;
                font-weight: 700;

                .category {
                    font-weight: 300;
                }
            }

            .validation {
                font-weight: 700;
                font-size: 1.5rem;
            }

            .activate {
                width: 32px;
                height: 32px;
                border-radius: 10px;
                background: #0051ff;
            }
        }
    }

    .connection-stops {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 10px;
            top: 0;
            height: calc(100% - 32px);
            width: 4px;
            background: #131313;
            opacity: 0.5;
            margin: 16px 0;
            z-index: 1;
        }

        .stop {
            display: flex;
            font-size: 1.25rem;
            align-items: center;
            padding: 0.25rem 0;

            .name {
                flex-grow: 1;
            }

            .time {
                font-weight: 300;
            }

            .dot {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                flex-shrink: 0;
                margin-right: 1rem;
                background: rgba(0, 81, 255, .5);
                z-index: 3;

                &::before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    background: rgb(0, 81, 255);
                    border-radius: 50%;
                }
            }

            &.inactive {
                .name {
                    opacity: 0.75;
                }

                .time {
                    opacity: 0.75;
                }

                .dot {
                    background: rgba(19, 19, 19, 0.5);

                    &::before {
                        background: rgb(19, 19, 19);
                    }
                }
            }
        }
    }

    .fullness {
        margin: 0 -4px;
        display: flex;

        .hour {
            margin: 0 4px;
            flex-grow: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            flex-shrink: 0;

            &.current {
                .bar {
                    background: rgba(0, 81, 255, 1);
                }

                .time {
                    opacity: 1;
                }
            }

            .time {
                opacity: 0.5;
            }

            .bar {
                background: rgba(0, 81, 255, .5);
                width: 100%;
                border-radius: 4px;
                margin-bottom: 8px;
            }
        }
    }

    .fullness-info {
        margin-bottom: 2rem;
        margin-top: 1rem;
        text-align: center;
    }

    input {
        width: 100%;
        appearance: none;
        border: none;
        background: #f4f4f4;
        padding: 1rem 1.5rem;
        border-radius: 15px;
        margin-bottom: 0.5rem;

        &:focus {
            outline: none;
        }
    }

    select {
        width: 100%;
        appearance: none;
        border: none;
        background: #f4f4f4;
        padding: 1rem 1.5rem;
        border-radius: 15px;
        margin-bottom: 0.5rem;
    }

    button {
        display: block;
        width: 100%;
        padding: 1rem 1.5rem;
        background-color: #0051ff;
        text-align: center;
        border-radius: 15px;
        transition-duration: 250ms;
        appearance: none;
        border: 0;
        color: #fff;
    }
}